body {
    font-family: Arial;
    background: #0f172a;
    color: white;
    margin: 0;
}

header {
    background: #1e293b;
    padding: 15px;
}

nav a {
    color: white;
    margin-right: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    padding: 50px;
}

.produtos {
    display: flex;
    gap: 20px;
    padding: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

button {
    background: #22c55e;
    border: none;
    padding: 10px;
    cursor: pointer;
    color: white;
}

input, select {
    display: block;
    margin: 10px 0;
    padding: 10px;
}
